.popup__container {
  max-width: 430px;
  width: 100%;
  position: relative;
  left: calc(50% - 215px);
  top: calc(50% - 188px);
}
    
@media screen and (max-width: 500px) {
  .popup__container {
    max-width: 282px;
    left: calc(50% - 141px);
  }
}