.popup__form {
  background-color: white;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}
  
@media screen and (max-width: 500px) {
  .popup__form {
    width: 100%;
  }
}
  
@media screen and (max-width: 500px) {
  .popup__form {
    width: 100%;
  }
}