.cards {
  max-width: 882px;
  margin: 51px auto 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 21px;
  column-gap: 18px;
}

@media screen and (max-width: 890px) {
  .cards {
    row-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 36px;
  }
}
